/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */


.module {
    width: 300px;
    height: 200px;
  
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
  
  * {
      -webkit-overflow-scrolling: touch;
  }
  
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  
  html,
  body {
  /*	background-color: #FEC609;*/
  /*	color: #FBFF0A;*/
      font-family: 'Aladin';
      font-weight: 300;
      font-size: 20px;
      text-rendering: optimizeLegibility;
      overflow-x: hidden;
      overflow: none;
      width: 100%;
      padding: 0px;
      margin: 0px;
      text-transform: capitalize;
      /* scroll-behavior: smooth; */
      
      /* position: absolute; top:0; bottom:0; right:0; left:0; */
  }

  html {
    scroll-behavior: smooth;

  }

  .container {
      overflow: hidden;
  }


  
  /* ----------------------------------------------- */
  /* LOADER  */
  /* ----------------------------------------------- */
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:  #18ad48;



    ;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  
  }

  /* ----------------------------------------------- */
  /* REUSABLE COMPONENTS */
  /* ----------------------------------------------- */
  
  
  
  .row1 {
      max-width: 1140px;
      margin: 2em auto;
  }
  
  
  /* ----- HEADINGS ----- */
  
  
  
  hr:before {
      display: block;
      height: 2px;
      background-color: #e67e22;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: 30px;
  }
  
  
  
  
  h2 {
      text-align: center;
      /* letter-spacing: 5px; */
      text-transform: capitalize;
      color: #006400	;
  }
  
  h3 {
      text-align: center;
  }
  
  
  /* ----- PARAGRAPHS ----- */ 
  
  p {
      text-align: center;
      color: #0d4d19;
  }
  
  
  
  
  /* ----------------------------------------------- */
  /* HEADER */
  /* ----------------------------------------------- */
  
  
  #header-nav  {
      background-color: #ffffff;
      padding: 3em;
      border: 2px solid #FEF641;
  }
  
  .navbar-brand {
      margin-right: -4em;
      line-height: inherit;
      white-space: nowrap;
      display: contents;
  
  }
  
  /*logo*/
  .logo {
      height: 125px;
      width: auto;
      float: right;
     /* margin-left: -15px;*/
      }
  
  
  /*Main Navi */

  .nav-links li a:hover,
  .nav-links li a:active {
      border-bottom: 2px solid #fff666;
}
  

  /*MOBILE NAV*/

  .sticky {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 0px #0d4d19;
    z-index: 9999;
}

.sticky .nav-links li a:link,
.sticky .nav-links li a:visited {
    padding: 16px 0;
    color: #0d4d19;
}
  
  .mobile-nav-icon i {
      font-size: 200%;
       color: #fff;
      }
      
      
      
      /* Mobile navi */
      .mobile-nav-icon {
          float: right;
          margin-top: 30px;
          cursor: pointer;
          display: none;
      }
      
      .mobile-nav-icon i {
          font-size: 200%;
          color: red;
      }
      
  
  
  .Navbar {
    background-color: #46ACC2;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
  }
  
  .Navbar__Link {
    padding-right: 8px;
  }
  
  .Navbar__Items {
    display: flex;
  }
  
  .Navbar__Items--right {
    margin-left:auto;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  
  nav {
      display: flex;
      justify-content: space-evenly;	
      align-items: center;
      min-height: 20vh;
      /* background-color: #fff5e6; */
      /* #ffe4b3	 */
      font-family: aladin;
  }
  
  nav ul li {
      position: relative;
  }
  
  nav ul li a {
      display: block;
      padding: 22px 14px; 
  }
  
  nav ul li ul {
      display: none;
      position: absolute;
      background-color: rgb(243, 220, 10);
      text-align: center;
      padding: 10px;
      border-radius: 0px 0px 4px 4px;
  }
  

  nav ul li:hover ul  {
      display: block;
  }
  
  
  nav ul li li a {
      padding: 8px 14px;
  }
  
  nav ul li ul li {
      width: 200px;
      border-radius: 4px;
  }
  
  nav ul li ul li a:hover {
      background-color: red;
      width: 100%;
  }
  
  
  
  
  
  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
      margin-top: 40px;
  }
  
  .nav-links li {
      list-style: none;
  }
  
  .nav-links a {
      text-decoration: none;
      letter-spacing: 5px;
      font-weight: bold;
      font-stretch: 14px;
      font-size: 20px;
      display: flex;
      justify-content: flex-start;
  }
  
  .burger {
      display: none;
      cursor: pointer;
  }
  
  .burger div {
      width: 25px;
      height: 5px;
      margin: 5px;
      background-color: red;
      transition: all 0.3s ease;
  }


  
  
  
  /* ----------------------------------------------- */
  /* Main Section 1 - Landing Page*/
  /* ----------------------------------------------- */
  
  .jumbotron {
      background: url('../img/special.jpg') no-repeat;
      background-size: cover;
      height: 110vh;
      background-position: center;
      border-radius: 0;
      margin-top: 135px;
      box-shadow: 0 0 10px 3px white inset;
      /* height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
   */
  }
  
  .landing-page {
  /*	margin-top: -188px;*/
      display: block;
  }
  
  .mainHeading {
      text-align: center;
      color: #FFF66F;
      margin-top: 14em;
      text-transform: capitalize;
  
  }
  
  .mainHeading h1 {
      font-size: 80px;
      letter-spacing: 12px;
      font-weight: 1000;
  
  }
  
  .mainHeading  {
      color: #ffff;
  }
  
  .discoverPK {
      margin-top: 250px;
  }
  
  .discoverHeading h1 {
      font-family: 'aladin';
      font-size: 110px;
      color: #0d4d19;
      background-color: #dff0da;
      margin-top: 0;
      /* background: rgba(255,255,255,.2); */
    }

    /* .discoverHeading {
        margin-top: 175px;
    } */

  .headingText h2 {
      /* background-color: white; */
      color: #006400;	
      /* background: rgba(255,255,255,.2); */
      background-color: #0000;
      text-decoration: overline;
      /* font-size: 125%; */
  }
  
  
  /* ----------------------------------------------- */
  /* Main Section 2 About Us */ 
  /* ----------------------------------------------- */
  
  .aboutHeading {
      text-align: center;
      margin-top: 65px;
      padding: 100px;
  }
  
  .aboutIK p {
  /* font-family: 'Raleway', sans-serif; */
  letter-spacing: 2px;
  }
  
  .aboutPK {
      margin-top: 120px;
      font-family: 'Raleway', sans-serif;
  }
  
  .ready {
  font-family: 'Raleway', sans-serif;
  }

.story {
    margin-top: 50px;
}

  
  
  
  /* ----------------------------------------------- */
  /* Main Section 2 - Photo Gallary  */
  /* ----------------------------------------------- */
  
  
  
  .pak-showcase {
      list-style: none;
      width: 100%;
      
  }
  
  .pak-showcase li {
      display: block;
      float: left;
      width: 25%;
  }
  
  
  .pak-photo {
      /* opacity: 0.7; */
      width: 100%;
      /* height: auto; */
      overflow: hidden;
      margin-top: -20px;
      /* background-color: #000000; */
  }
  
  .pak-photo img {
      width: 100%;
      /* height: auto; */
      transform: scale (1.15);
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s; opacity: 0.5s;
      /* opacity: 0.7; */
  }
  
  .pak-photo img:hover {
      transform: scale(1.03);
      opacity: 1;
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform:scale(1.03);
  }
  
  
  
  /* ----------------------------------------------- */
  /* How It Works Section  -  */
  /* ----------------------------------------------- */
  
  
  
  .works-step div {
      color: #b51f1f;;
      font-size: 50px;
      height: 54px;
      width: 54px;
      /* border: 2px solid #e67e22;
      border-radius: 50%; */
      display: inline-block;
      text-align: center;
      margin-right: 25px;
      text-decoration: overline;
  }
  
  
  .section-steps {
      margin-top: 50px;
      font-size: 20px;
      /* font-family: raleway; */
  }
  
  .steps-box:last-child {
      text-align: center;
  }
  
  .thisPak {
      display: flex;
      justify-content: space-around; 
  }
  
  .discoverPK {
      display: flex;
      justify-content: space-around;
  }

  .work h2 {
      text-decoration: underline;
  }
  
  
  
  /* ----------------------------------------------- */
  /* Packages Section   -  */
  /* ----------------------------------------------- */
  
  
  .plan-box {
      height: 400px;
      width: 100%;
      margin-bottom: 15px;
      position: relative;
      border: 2px solid #3F0C1F;
      overflow: hidden;
  }
  
  
  .adventure  {
      background: url('../img/sunsetk.jpg') no-repeat;
      background-position: center;
      width: 100%;
      height: 125%;
      background-size: cover;
  
  }
  
  
  .city {
      background: url('../img/cPic8.jpg') no-repeat;
      background-position: center;
      width: 100%;
      height: 120%;
      background-size: cover;
  }
  
  .special {
      background: url('../img/special.jpg') no-repeat;
      background-position: center;
      width: 100%;
      height: 105%;
      background-size: cover;
  
  }
  
  .upcoming {
      background: url('../img/shangrilaLake.jpg') no-repeat;
      background-position: center;
      width: 100%;
      height: 105%;
      background-size: cover;
  }
  
  .picHeight {
      height: 10em;
  
  }
  
  .plan-box h3 {
      line-height: 15.2;
      color: #F0F8FF
  
  }
  
  
  
  /* ----------------------------------------------- */
  /* FOOTER */ 
  /* ----------------------------------------------- */
  footer {
      background-color: #EBFFCC;
      padding: 50px;
      font-size: 16px;
      width: 100%;
      position: relative;
      /* height: 200px; */
  }
  
  .logo-bottom {
      display: flex;
      justify-content: center;
  }
  
  .contactDetails {
      text-align: center;
  }
  
  .contactDetails h4 {
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 0px;
  }
  
  .footer-bottom {
     /* margin-top: 90px; */
  } 
  
  
  .footer-nav {
      list-style: none;
      text-align: center;
      display: grid;
  }
  
  .social-links {
      list-style: none;
      display: flex;
      justify-content: center;
  
  }
  
  .footer-nav li,
  .social-links li {
      display: inline-block;
      margin-right: 20px;
      margin: 1em;
  }
  
  .footer-nav li:last-child,
  .social-links li:last-child {
      margin-right: 0;
  }
  
  .footer-nav li a:link,
  .footer-nav li a:visited, 
  .social-links li a:link,
  .social-links li a:visited {
      text-decoration: none;
      border: 0;
      color: #0d4d19;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      font-size: 20px;
  }
  
  .footer-nav li a:hover,
  .footer-nav li a:active {
      color: #ddd;
  }
  
  .social-links li a:link,
  .social-links li a:visited {
      font-size: 160%;
  }
  
  .ion-social-facebook,
  .ion-social-twitter,
  .ion-social-googleplus,
  .ion-social-instagram {
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
  }
  
  .ion-social-facebook:hover {
      color: #3b5998;
  }
  
  .ion-social-twitter:hover {
      color: #00aced;
  }
  
  .ion-social-googleplus:hover {
      color: #dd4b39;
  }
  
  .ion-social-instagram:hover {
      color: #517fa4;
  }
  
  
  footer p {
    color: #0d4d19;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
  }

  .details {
    display: flex;
    flex-direction: column;
    color: #0d4d19;
  }
  
  
  
  
  /** ----------------------------------------------- */
  /* Headings
  /* ----------------------------------------------- */
  
  .heading {
      width: 100%;
      margin-top: -45px;
  }

  
  
  
  .heading h2 {
    font-size: 130px;
    padding: 50px;
    background-color: #ffffb3;
    text-transform: capitalize;
    margin-top: 180px;
    font-family: 'Aladin', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 5px 36px #0d4d19;
    color: #0d4d19;
  }
  
  
  .featuredTours h2 {
      margin-top: 20px;
      padding: 50px;
      font-family: 'Raleway', sans-serif;}
  
  .headingP {
      text-align: center;
      /* text-decoration: underline; */
      text-transform: capitalize;
      padding: 50px;
      list-style-type: none;
      line-height: 80px;
      font-size: 200%;
      letter-spacing: 5px;
      font-family: 'Aladin', cursive;
      color: #0d4d19;
  } 
  
  
  .heading p {
      padding: 50px;
      margin: 10px;
      font-size: 49px;
      text-transform: capitalize;
      line-height: 100px;
  /*    font-family: raleway;
  */
  }

  .plansHeading h1 {
      text-decoration: underline;
  }

  
  
  /** ----------------------------------------------- */
  /* Discover Page  */ 
  /* ----------------------------------------------- */
  
  
  .discoverPakistan h1 {
    text-align: center;
    font-size: 45px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #006400;
    margin-top: 150px;
  }
  
  .discoverPakistan {
      padding: 0em 2em;
      letter-spacing: 2px;
      line-height: 25px;
  }
  .discoverParagraph {
      margin-top: 30px;
  }
  
  .visionHeading {
    width: 100%;
    margin-top: 0;
  }

  .thisPak2 {
    margin-top: -100px;
  }

  .valleys h3 {
    color: #006400;
  } 


  
  /** ----------------------------------------------- */
  /* FLEX Properties  */ 
  /* ----------------------------------------------- */
  
  .flexParagraphs {
      margin: 20px 0px 0px 0px;
      /* font-family: raleway; */
      align-content: center;
      letter-spacing: 1.5px;
      text-transform: capitalize;
      font-size: 16px;
      line-height: 30px;
      
  }
  
  .secondParagraph {
      text-transform: capitalize;
      margin-top: 70px;
      letter-spacing: 1.5px;
  }
  
  .flex-container {
      display: flex;
      align-items: center; /*cross axis*/
  /*	justify-content: center;  main axis  */
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: -30px;
      height: 100%;
  }
  
  .flex1 {
      flex: 0 1 50%;
      width: 50%;
      margin-top: 100px;
  
  }
  
  .adventurePic1 {
      width: 100%;
      display: block;
      padding: 0px;
      border: 2px solid #FAB400;
      margin-top: 0px;
  }
  
  .flexContent{
      flex: 1;
      padding: 50px;
      text-align: center;
      width: 50%;
      /* margin-top: 5em; */
      
  }
  
  .flex-container-base {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }
  
  .flex-container-base2 {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
  
  .flex2 {
      margin-top: 1px;
  }
  
  
  
  /*//Main page flex */
  .flex-container-1 {
      align-items: center;
      display: flex;
  }
  
  
  
  .fullWidthFlex {
  
      flex: 0 1 60%;
      width: 100%;
  
  }
  
  
  /** ----------------------------------------------- */
  /* Adventure Page */ 
  /* ----------------------------------------------- */
  
  
  .adventurePicture img {
      background-size: cover;
      width: 100%;
      margin-top: -1em;
  }
  
  .roof h2 {
      font-size: 65px;
      /* margin-top: -70px; */
  } 
  
  .headingParagraph {
      text-decoration: underline;
      font-size: 15px;
  }
  
  .adventureHeading h2 {
      background-color: white;
  }
  
  .mountains img {
      width: 100%;
  }

  .aoc h1 {
    background-color: #ffffb3;
}

.heading2 h2 {
    margin-top: 200px;
   }
  
   .adventureHeading h2 {
       box-shadow: none;
   }
  
   .adventureSlideShow1 {
       margin-top: -5em;
   }
  
  /** ----------------------------------------------- */
  /* Our Story Page */ 
  /* ----------------------------------------------- */
  .ourStory {
      margin-top: 100px;
  }
  
 .whoWeAre {
     background-color:none;
 }
 .aboutValues {
     margin-top: 20px;
 }
  
  
  /** ----------------------------------------------- */
  /* Special Page */ 
  /* ----------------------------------------------- */
  
  .hunzaParagraph  {
      font-size: 150%;
      letter-spacing: 6px; }
  .flexParagraphs hr {
      border-top: none;
      margin-top: 5rem;}	
  .hunzaParagraph2 {
      margin-top: 100px}	
  .hr2 {background-color: none;}
  .ansooLake{margin-top: 0;}
  /*.ansooLakePic{width: 50%;}*/
  
  
  
  /** ----------------------------------------------- */
  /* Upcoming Page */ 
  /* ----------------------------------------------- */
  
  .upcomingContent {
      width: 80%;
      padding: 0;
      margin-top: 0;
  }
  
  .date {
      /* display: flex;
      justify-content: space-around */
      line-height: 50px;
      margin-top: -50px;
  }
  
  .ul {
      list-style: none;
  }
  
  .li {
      list-style: none;
  }
  
.h2 ul {

    text-decoration: underline;

  }
  
  .flex-container-3 {
      display: flex;
      justify-content: space-around;
  }
  
  .column {
      width: 50%;
  }
  
  .vl {
      border-left: 1px solid yellow;
      height: 50px;
      margin-top: 50px;
  }
  

  .plansDetails {
      margin-top: -60px;
      font-size: 30px;
      width: 100%;
      color:  #ff4d4d


  }

  .plansHeading h1 {
    color:  #0d4d19;
    font-size: 130%;
  }

  .listHeading {
      text-decoration: underline;
      color:  #669900

  }

  /* .upcomingTrips h2 {
      color: #008000;
      background-color:#ffffcc;
  } */

  .upcomingTrips {
      margin-top: 150px;
  }

  planList2 {
    list-style-type:none
    line-height: 50px;
  }

  .planList {
    list-style: none;
    color: #669900

}

.upcomingParagraph {
    padding: 0px 60px;

}
.buttonSetting {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.seeking h3{
    color:  #669900;

}

.tablinks a {
    color:black;
}

.testDetails {
    margin-top: -65px;
}
.planList p {
 padding: 20px 200px 0 200px;
}


  
  
  /** ----------------------------------------------- */
  /* Special Page */ 
  /* ----------------------------------------------- */

  
  
  .icon-big {
      font-size: 350%;
      display: block;
      color: #e67e22;
      margin-bottom: 10px;
  }
  
  .icon-small {
      display: inline-block;
      width: 30px;
      text-align: center;
      color: #e67e22;
      font-size: 120%;
      margin-right: 10px;
      
      /*secrets to align text and icons*/
      line-height: 120%;
      vertical-align: middle;
      margin-top: -5px;
  }

  .specialHeading h2 {
   background-color:  #ffffcc;;

  }


  /* ----------------------------------------------- */
  /* Upcoming Page */ 
  /* ----------------------------------------------- */

  .days {
      padding: none;
  }

  /* ----------------------------------------------- */
  /* City Page */ 
  /* ----------------------------------------------- */

  .cityHeading h2 {
    box-shadow: 0 0px 50px #ea977b;
    /* margin-top: 135px; */
    padding: 0;
    background-color: #f8dcd3;
}

 .cityTitle h2 {
    color: #006400;
    background-color:  #ffffcc;
}

.headingTest {
    position: relative;
    width: 100%;
}

.text-wrapper h1 {
    font-size: 50px;
    position: absolute;
    top:55%;
    text-align: center;
    width: 100%;
    font-size: 75px;
    color: #0d4d19;
    background-color: #dff0da;
}

.content-wrapper {
    text-align: center;

}

.cityPicture {
    margin-top: 165px;
}

.jinnahSection {
    margin-top: -100px;
}

  /* ----------------------------------------------- */
  /* W3 SLIDESHOW */ 
  /* ----------------------------------------------- */

/* Slideshow container */
 
.w3-content {
    max-width: fit-content;
}
a:not([href]):not([tabindex]) {
    color: black;
    background-color: yellow;
}

.w3-btn-floating {
    width: 50px;
    height: 29p;
    /* line-height: 19px; */
}
  /* Fading animation */
  .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

    /* .mySlides {display:none;} */

    /* .fade:not(.show) {
    opacity: 0; */

    .w3-color {
        color: red!important;
        background-color: white !important
    }

    .w3-padding-16 {
        padding-top: 0px!important;
         padding-bottom: 0px!important;
    }

    .w3-display-bottomleft {
        text-align: center;
        position: relative;
    }

    .w3-large {
     font-size: 30px!important;
    }

    
  /* ----------------------------------------------- */
  /* JAVASCRIPT SLIDESHOW */ 
  /* ----------------------------------------------- */
  
  
  #slider,
  .wrap,
  .slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 140vh;
    overflow-x: hidden;
    box-shadow: 0 0 10px 3px white inset;
  }
  
  .wrap {
    position: relative;
  }
  
  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide5 {
   background-image: url('../img/kkh1.jpg');
  
  }
  .slide4 {
    background-image: url("../img/tPic3.jpg");
  }
  .slide3 {
    background-image: url("../img/tPic4.jpg");
  }
  .slide2 {
      background-image: url("../img/tPic1.jpg");
    }
  
  .slide1 {
      background-image: url("../img/hBridge.jpg");
    }
  
  
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  
  .slide-content span {
    font-size: 5rem;
    color: #fff;
  }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  #arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent transparent transparent #FFF6A9;
    left: 0;
    margin-left: 0;
  }
  
  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #FFF6A9;
    right: 0;
    margin-right: 0px;
  }
  
  
  #inspired:hover, #charge:hover, #decompress:hover {
      background-color: red;
    }

.mySlides {display:none;}
  



  /* ----------------------------------------------- */
  /* CSS CAROUSEL SLIDESHOW */ 
  /* ----------------------------------------------- */
  
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  } 
  
  .carousel-inner .item > img {
    -webkit-animation: zoom 50s;
    animation: zoom 50s;
    position: relative;
    /* display: none; */
    -webkit-transition: 0.9s ease-in-out left;
    -moz-transition: 0.9s ease-in-out left;
    -o-transition: 0.9s ease-in-out left;
    transition: 0.9s ease-in-out left;
 
  }


  .carousel-inner .item > img {
    -webkit-animation: zoom 50s;
    animation: zoom 50s;
    position: relative;
    /* display: none; */
    -webkit-transition: 0.9s ease-in-out left;
    -moz-transition: 0.9s ease-in-out left;
    -o-transition: 0.9s ease-in-out left;
    transition: 0.9s ease-in-out left;
 
  }

  
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    /* display: none; */
    opacity: 1;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }



  /* 
  
  /* .carousel-inner .item > img {
    -webkit-animation: zoom 50s;
    animation: zoom 50s;
  } */
  
  /*.carousel-inner > .item > img { 
      width:50%; 
  }	
  */ 
  
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 6px solid wheat;
    background-color: #ffffb3;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 4s;
      /* background-color: #ffece6; */
    }
    #Itinerary {
      width: 100%;
    }
    
    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    
    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }
  
  
  
  /* ----------------------------------------------- */
  /* BUTTONS */ 
  /* ----------------------------------------------- */
  
  
  .btn:link,
  .btn:visited,
  input[type=submit] {
      display: inline-block;
      padding: 10px 30px;
      font-weight: 300;
      text-decoration: none;
      border-radius: 200px;
      -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
      transition: background-color 0.2s, border 0.2s, color 0.2s;
  }
  
  
  .btn-full:link,
  .btn-full:visited,
  input[type=submit] {
    background-color:  #ffffb3;
    border: 1px solid #e67e22;
    color: #0d4d19;
    margin-right: 10px;
    /* margin-top: 40px; */
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  
  
  
  .btn-ghost:link,
  .btn-ghost:visited {
      border: 1px solid #e67e22;
      color: #e67e22;
  }
  
  .btn:hover,
  .btn:active,
  input[type=submit]:hover,
  input[type=submit]:active {
      background-color: #cf6d17;
  }
  
  .btn-full:hover,
  .btn-full:active {
      border: 1px solid #cf6d17;
  }
  
  .btn-ghost:hover,
  .btn-ghost:active {
      border: 1px solid #cf6d17;
      color: #fff;
  }
  

  .btn2 {
    /* display: none; */
    bottom: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  
/* 
  #myBtn:hover {
    background-color: yellow;
  } */


  
  /* ----------------------------------------------- */
  /* MEDIA QUERIES */ 
  /* ----------------------------------------------- */
  
  
  
  /*Mobile NAV*/

  @media screen and (max-width: 1024px) {
      .nav.links {
          width: 60%; }
  }
  
  
  
  @media screen and (max-width: 768px) {
          /* body {
              overflow-x: hidden;} */
  
     /* .navBar {
         position: absolute;
     } */



     
  
      .nav-links {
          position: fixed;
          right: 0px;
          height: 50%;
          top: 6vh;
          display: flex;
          background-color: #ffff;
          flex-direction: column;
          align-items: center;
          width: 100%;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
          z-index: 1;
     
      }

      .subnav-content {
      
        width: 100%;
        z-index: 1;
      }
  
      
  
  
      .nav-links li {
          opacity: 0;
      }
  
      .burger {
          display: block;
          margin-top: 4em;
      }
  
  .nav-active {
      transform: translateX(0%);
  }
  
  
  @keyframes navLinkFade {
      from  {
          opacity: 0;
          transform: translateX(50px);
  
      }
      to {
          opacity: 1;
          transform: translateX(0px);
  
      }
  }
  
  .toggle .line1 {
      transform: rotate(-45deg) translate(-5px,6px);
  
  }
  
  .toggle .line2 {
          opacity: 0;
      
  }
  
  .toggle .line3 {
      transform: rotate(45deg) translate(-5px,-6px);
  }
  
  }
  
  
  /* Small phones to small tablets: from 481px to 767px */
  @media only screen and (max-width: 767px) {
      body { font-size: 16px; }
      section { padding: 30px 0;
       }
      
      .row,
      .hero-text-box { padding: 0 4%; }
      .col { 
          width: 100%;
          margin: 15px 0 4% 0;
          padding: 0;
      }
      
      
      .main-nav { display: none; }
      .mobile-nav-icon {display: inline-block;}
      
      .main-nav {
          float: left;
          margin-top: 30px;
          margin-left: 25px;
      }
      
      .main-nav li {
          display: block;
      }
      
      .main-nav li a:link,
      .main-nav li a:visited {
          display: block;
          border: 0;
          padding: 10px 0;
          font-size: 100%;
      }
      

  
      .sticky .main-nav li a:link,
      .sticky .main-nav li a:visited { padding: 10px 0; }
      .sticky .mobile-nav-icon { margin-top: 10px; }
      .sticky .mobile-nav-icon i { color: #555; }
      
      .sticky {margin-top: -45px;}
      
      h1 { font-size: 180%; }
      h2 { font-size: 143%; }
      
      .long-copy {
          width: 100%;
          margin-left: 0%;
      }
      
      .app-screen { width: 40%; }
      .steps-box:first-child { text-align: center; }
      
      .works-step div {
          height: 40px;
          width: 40px;
          margin-right: 15px;
          padding: 4px;
          font-size: 120%;
      }
      
      .works-step { margin-bottom: 20px; }
      .works-step:last-of-type { margin-bottom: 20px; }
     
  }
  
  
  
  
  /* Small phones: from 0 to 480px */
  @media only screen and (max-width: 480px) {
      /* section { padding: 2px 0; } */
      .contact-form {width: 100%; }
  /*    main page*/
      .jumbotron {
        height: 90vh;
        margin-top: 95px;
    }
      /* .this img {
          background:url('../img/discoverPakSm.jpg')
      } */
      .mainHeading {margin-top: 40px;}
      .mainHeading h1 {    
          font-size: 40px;
          letter-spacing: 5px;
          margin-top: 145px;
          letter-spacing: 5px;}
      .btn:link {
          padding: 10px 20px;}
       .discover h1 {
        font-size: 55px;
        margin-top: -56px;
       }     
      
          
      .mainHeading h2 {font-size: 13px;}
      .h1 {font-size: 35px;}
      .btn-full:link.discover {
          /* margin-top: 5px;
          display: none;
          letter-spacing: 3px; */
          font-size: 15px;
          /* padding: 10px 10px; */
      }

      .btn-full:link.gallery {
        font-size: 10px;
      }
      .mobileContainer {margin-top: 10px;}
      .logo {height: 60px; margin-top: 1em;}
      .pak-showcase {margin-top:0; height: 70px;}
      
      .heading h2 {    
          font-size: 55px;
          padding: 50px 0 50px;
          /* margin-top: 0; */
          font-weight: 900;
          letter-spacing: 2px;
      }

      .heading2 h2 {
          margin-top: 135px;
      }

      .heading3 h2 {
          margin-top: 0;
          font-size: 45px;
      }
      .heading p {font-size: 25px; padding: 31px;}
      .aboutHeading{
      text-align: center;
      margin-top: 25px;
      padding: 5px;
      }
      .plan-box {
          height: 200px;
          width: 100%;
          margin-bottom: -30px;
          position: relative;
          border: 1px solid #FFF6A9;
          overflow: hidden;
      }
      .plan-box h3 {
          line-height: 9.2;
          color: #F0F8FF;
          font-size: 25px;
      }
      .work h2 {
          font-size: 110%;
      }
      .aboutIK {
          letter-spacing: 1px;
  
      }
      .landing-page{
          margin-top: -50px;
      }

  
  
  /*special page*/
      .headingP{padding: 0; line-height: 35px; font-size: 115%; letter-spacing: 3px;}
      .specialHeading h2 {font-size: 30px; }
      
   /* adventure page */ 
   .adventureHeading h2 {
       font-size: 45px;  
   } 
   .adventureSection h2 {
       margin-top: 180px;
   }

   .adventureSection h2 {
       font-size: 40px;
       background-color: #ffffb3;
   }

   .adventureParagraph1 {
       margin-top: -40px;
   }


    /* city page */ 
    .citySection {
        margin-top: -70px;
    }

    .cityHeading h2 {
        margin-top: 135px;
    }

    .text-wrapper h1 {
        top:70%;
        font-size: 30px;
    }
    .cityPicture {
        margin-top: 120px;
    }



    /* upcoming page */ 
    .days {
        padding: 40px;
    }
     
    .seeking h2 !important {
        font-size: 20px;
    }

    .upcomingHeading h1 {
        font-size: 200%;
        margin-top: -30px;
    }
    .travelDetails {
        padding: 90px;
    }

    .container-upcoming {
        margin-top: 0;
    }

    .planList p {
        padding: 20px 30px 0 20px;
    }


    /* discover page  */
    .discoverPakistan h1 {
        margin-top:50px;
    }






  

 
   /* JS Slideshow */
   #slider, .wrap, .slide-content {
           height: 35vh;
       }   
       
   
  
  /*flex properties*/
  
      .flexContent{width: 100%; 
        /* margin-top: 0; */
    }
      .flex-container-base2{flex-direction: column;} 
      .flex-container-base{flex-direction: column;}
      .flex1 {width: 100%; margin-top: 0;}
      .flexContent h2 {font-size: 32px; letter-spacing: 1px;}
      /* .fullWidthFlex {margin-top: -4em;} */
  
  
      }
  
  /* XSmall phones: from 0 to 300px */
  @media only screen and (max-width: 400px) {
      .btn-full:link .discover{margin-top: 10px;}
  
  
  }


  