/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

/* CSS reset, to eliminate any browser-specific default stylesheet
body { padding: 0px; margin: 0px;}
div { padding: 0px; margin: 0px; }*/*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,
body {
/*	background-color: #FEC609;*/
/*	color: #FBFF0A;*/
	font-family: 'Aladin', cursive;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */



.row {
	max-width: 1140px;
	margin: 10em auto;
}





/* ----- HEADINGS ----- */



hr:before {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


h2 {
	text-align: center;
	letter-spacing: 5px;
}

h3 {
	text-align: center;
}


/* ----- PARAGRAPHS ----- */ 

p {
	text-align: center;
}




/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */


#header-nav  {
	background-color: #ffffff;
    padding: 3em;
    border: 2px solid #FEF641;
}

.navbar-brand {
    margin-right: -4em;
    line-height: inherit;
    white-space: nowrap;
    display: contents;

}

/*logo*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: -40px;
    }


/*Main Navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 65px;
    letter-spacing: 15px;
}

/* Main Navi*/

.mobile-nav-icon i {
font-size: 200%;
 color: #fff;
}



/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}



/* ----------------------------------------------- */
/* Main Section 1 - Landing Page*/
/* ----------------------------------------------- */

.jumbotron {
	background: url('../img/LahoreMosque.jpg') no-repeat;
	background-size: cover;
	height: 85vh;
    background-position: center;
    margin-top: 190px;
/*    margin: -20em auto auto 5em;*/
}

.landing-page {
	margin-top: -188px;
    display: block;
}

.mainHeading {
	text-align: center;
	color: #FAB400;
	margin-top: 9em;

}

.mainHeading h1 {
	font-size: 60px;
}

.mainHeading h2 {
	color: #ffff;
}



/* ----------------------------------------------- */
/* Main Section 2 About Us */ 
/* ----------------------------------------------- */

.aboutHeading {
	text-align: center;
	margin-top: 65px;
}

.aboutIK {
	font-family: raleway, cursive;
}


/* ----------------------------------------------- */
/* Main Section 2 - Photo Gallary  */
/* ----------------------------------------------- */

.pak-showcase {
	list-style: none;
	width: 100%;
	margin-top: 100px;
}

.pak-showcase li {
	display: block;
	float: left;
	width: 25%;
}


.pak-photo {
/*	opacity: 0.7;*/
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.pak-photo img {
	width: 87%;
	height: auto;
}


/* ----------------------------------------------- */
/* How It Works Section  -  */
/* ----------------------------------------------- */



.works-step div {
	color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
}


.section-steps {
	margin-top: 50px;
	font-family: raleway;
}

.steps-box:last-child {
	text-align: center;
}




/* ----------------------------------------------- */
/* Packages Section   -  */
/* ----------------------------------------------- */


.plan-box {
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
}

.adventure {
	background: url('../img/sunsetk.jpg') no-repeat;
	background-position: center;
    width: 100%;
	height: 125%;
    background-size: cover;
}

.city {
	background: url('../img/cPic2.jpg') no-repeat;
	background-position: center;
    width: 100%;
	height: 120%;
    background-size: cover;
}

.special {
	background: url('../img/special.jpg') no-repeat;
	background-position: center;
    width: 100%;
	height: 105%;
    background-size: cover;

}

.upcoming {
    background: url('../img/shangrilaLake.jpg') no-repeat;
    background-position: center;
    width: 100%;
	height: 105%;
    background-size: cover;
}

.upcoming h3 {

}

.plan-box h3 {
	line-height: 15.2;
	color: #F0F8FF

}






/* ----------------------------------------------- */
/* FOOTER */ 
/* ----------------------------------------------- */
footer {
    background-color: #fff666;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    text-align: center;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}




/** ----------------------------------------------- */
/* Discover Page && FLEX Properties  */ 
/* ----------------------------------------------- */


.heading h2 {
	font-size: 100px;
    padding: 50px;
    background-color: #fff666;
}

.featuredTours h2 {
	margin-top: 20px;
	padding: 50px;
}


.heading p {
	padding: 50px;
    margin: 10px;
    font-size: 30px;
/*    font-family: raleway;
*/}

.discoverPakistan h2 {
	text-align: center;
}

.flexParagraphs {
	margin: 50px 20px 0 20px;
/*	font-family: raleway;*/
	align-content: center;
	letter-spacing: 3px;
}

.flex-container {
	display: flex;
	align-items: center; /*cross axis*/
/*	justify-content: center;  main axis  */
	flex-wrap: wrap;
	flex-direction: column;
}


.flex1 {
	flex: 0 1 60%;
	width: 50%;

}

.adventurePic1 {
	width: 100%;
	display: block;
	padding: 0px;
	border: 6px solid #FAB400;
}

.flexContent{
	flex: 1;
	padding: 50px;
	text-align: center;
}



/** ----------------------------------------------- */
/* City Page */ 
/* ----------------------------------------------- */

.fullWidthFlex {

	flex: 0 1 60%;
	width: 100%;

}




/** ----------------------------------------------- */
/* Adventure Page */ 
/* ----------------------------------------------- */


.adventurePicture img {
	background-size: cover;
    width: 100%;
    margin-top: -1em;
}



/** ----------------------------------------------- */
/* ICONS */ 
/* ----------------------------------------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/* ----------------------------------------------- */
/* SLIDESHOW */ 
/* ----------------------------------------------- */


@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}


.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}




/*.carousel-inner > .item > img { 
	width:50%; 
}	
*/



/* ----------------------------------------------- */
/* BUTTONS */ 
/* ----------------------------------------------- */


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #fff666;;
    border: 3px solid #e67e22;
    color: #000000;
    margin-right: 15px;
    margin-top: 40px;
}



.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}



